.background {
  background-image: url("../../img/background\ find.jpg");
  background-size: cover;
  background-position: center center;
  height: 150vh;
}

.background h2 {
  padding-top: 140px;
  font-size: 30px;
}

.background p {
  margin-top: 30px;
  font-size: 20px;
  color: #797d7f;
}

.plan {
  background-color: #1a0750;
  border: none;
  margin-top: 30px;
  color: white;
  box-sizing: border-box;
  box-shadow: 5px 5px 0px #1a0750;
  font-size: 20px;
  padding: 10px 20px;
}
