.background {
  background-image: url("../../img/background\ find.jpg");
  background-size: cover;
  background-position: center center;
  height: 150vh;
  color: var(--main-color-font-dark);
}

.background h2 {
  padding-top: 140px;
  font-size: 30px;

}

.background p {
  margin-top: 30px;
  font-size: 20px;
  color: gray;
}

.plan {
  background-color: var(--main-color-font-dark);
  border: none;
  margin-top: 30px;
  color: white;
  box-sizing: border-box;
  box-shadow: 5px 5px 0px var(--main-color-font-dark);
  font-size: 20px;
  padding: 10px 20px;
}
