.cardPlan {
  align-items: center;
  height: fit-content;
  margin: 50px;
  padding: 50px;
  background-color: var(--secondary-color-content-3);
  width: 280px;
  height: 280px;
  box-shadow: 7px 7px 0px var(--main-color-font-dark);
}

.title h1 {
  padding-top: 80px;
  background-color: var(--main-bg-color-light);
}

.back {
  background-color: var(--main-bg-color-light);
  display: flex;
}

.cardPlan ul {
  list-style: none;
}

.cardPlan ul li{
    color: var(--main-bg-color-light);
    font-size: 15px;
}



.cardPlan ul li:before {
  content: "✓";
  color: greenyellow;
  margin-right: 5px;
}

.cardPlan h2 {
  font-size: 20px;
  color: var(--main-bg-color-light);
}

.btn {
  margin: 10px;
  padding: 8px;
  font-size: 30px;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  color: var(--secondary-color-content-3);
  background-color: var(--secondary-color-items-1);
  cursor: pointer;
}

.cardPlan h3{
    color: var(--main-bg-color-light);
    margin: 10px;
}
