.cardPlan {
  align-items: center;
  height: fit-content;
  margin: 50px;
  padding: 50px;
  background-color: var(--main-color-content);
  color: var(--main-color-font-dark);
  width: 280px;
  height: 280px;
  box-shadow: 0px 7px 2px var(--main-color-font-dark);
  flex: 1;
  height: auto;
}

.title h1 {
  padding-top: 80px;
  background-color: var(--main-bg-color-light);
  color: var(--main-color-font-dark);
}

.back {
  background-color: var(--main-bg-color-light);
  display: flex;

}

.cardPlan ul {
  list-style: none;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.cardPlan ul li{
    font-size: 15px;
}



.cardPlan ul li:before {
  content: "✓";
  color: rebeccapurple;
  margin-right: 5px;
}



.btn {
  margin: 10px;
  padding: 8px;
  font-size: 30px;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  color: var(--secondary-color-content-3);
  background-color: var(--secondary-color-items-1);
  cursor: pointer;
}

.cardPlan h3{
    color: var(--main-bg-color-light);
    margin: 10px;
}
