.cardAnime {
  margin: auto;
  color: var(--main-color-font-dark);
  width: 100%;
  text-align: left;
  box-sizing: border-box;
  min-height: 280px;
  height: 100%;
  box-shadow: 7px 7px 0px var(--secondary-color-content-2);
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 1px, rgba(0, 0, 0, 0.02) 0px 2px 2px, rgba(0, 0, 0, 0.02) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}
.cardAnime:hover {
  transform: scale(1.01);
}
.cardAnime-image-container {
  overflow: hidden;
  height: 207px;
}
.cardAnime-image-container .anime-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cardAnime-content-container {
  background-color: #A77DDD;
  background-color: var(--secondary-color-content-1);
  height: fit-content;
  padding: 1em;
  height: 20%;
}


