
.filters {
  display: flex;
  position: relative;

   max-width: 50%;


}
.filters-selected {
  background-color: transparent;
  width: fit-content;
  cursor: pointer;
 
}
.filters-menu {
  padding: .5em;
  max-width: 150px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 1em;
  background-color: #1A0750;
  display: flex;
  flex-direction: column;
  gap: .5em;
  max-height: 200px;
  overflow-y: auto;
}

.filters-title {
  color: white;
  margin-right: 10px;
}


.option {
  text-align: left;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  cursor: pointer;
  gap: 1em;
}

.checkbox {
  width: 0;
  height: 0;
  cursor: pointer;
  margin: 0;
}


.animes {
  opacity: .7;
}

.arr-down {
  margin: 0em .25em;
}






