.filters {
  display: flex;
  align-items: center;
  position: relative;
  max-width: 50%;
}
.filters-selected {
  background-color: transparent;
  width: fit-content;
  cursor: pointer;
 
}
.filters-menu {
  padding: .5em;
  max-width: 200px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 3em;
  background-color: var(--main-color-font-dark);
  display: flex;
  flex-direction: column;
  gap: .5em;
  max-height: 200px;
  overflow-y : scroll;
  z-index: 10;
}

.filters-title {
  /* color: white; */
  color: var(--main-color-font-light);
  margin-right: 10px;
}


.option {
  text-align: left;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  cursor: pointer;
  gap: 1em;
  padding: .3em 0 .3em 0;
  border-bottom: 1px solid grey;
  transition: all ease 0.3s;
}

.option:hover{
  background-color: #40248f8a;
}

.checkbox {
  width: 0;
  height: 0;
  cursor: pointer;
  margin: 0;
  position: absolute;
}


.animes {
  opacity: .7;
}

.arr-down {
  margin: 0em .25em;
}






