.comments-container {
    padding: 0em 2em; 
    display: flex;
    flex-direction: column;
    gap: 2em;
    background-color: var(--main-color-content);
}

.comments-content {
    display: flex;
    flex-direction: column;
    gap: 2em;
}