.animeDetail {
    margin-top: 50px;
    text-align: left;
    min-height: 100vh;
    color: #1A0750;
  
}
/*HEADER*/
/*cOVER*/
.animeDetail-header{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-size: cover;
    background-repeat: no-repeat;
}
.animeDetail-header .cover {
    max-width: 350px;
    max-height: 550px;
    width: 100%;
    height: 100%;
    background-color: blueviolet;
}
.cover-img-container {
    height: 70%;
    width: 100%;
}
.poster-img {
    width: 100%;
    height: 100%;
    object-fit:cover;
    object-position: top;
}

.cover-info-container {
    color: white;
    padding: 1em;
}


.doubleTag {
    margin-top: .5em;
    min-width: 70px;
    font-weight: bold;
    margin-left: .5em;
    display: inline-flex;
    padding: .25em;
    background-color: white;
    color: #1A0750;
    flex-direction: column;
}
.doubleTag > * {
    display: block
}
.doubleTag .first {
    opacity: .6;
}
/*ABOUT*/
.animeDetail-header .about {
    max-width: 620px;
    max-height: 550px;
    width: 100%;
    height: 100%;
    background-color: black;
}

/*CONTENT*/
.animeDetail-content-info {
    background-color: #47037C;
    padding: 2em;
    line-height: 2;
    color: white;
}

.animeDetail-content-info .favorite-count {
    padding: .25;
    margin-top: 1em;
    display: flex;
    align-items: center;
    width: fit-content;
    background-color: #A77DDD;
    font-weight: bold;
}
.btn-favorite {
  
    background-color: white;
    margin-left: .5em;
    width: fit-content;
    color: #1A0750;
    border: none;
    padding: .5em;
}

/*EPISODES*/

.episodes {
    color: #1A0750;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 2em;
    padding: 3em;
    padding-top:0 ;
}

.episode {
    box-sizing: border-box;
    width: 100%;
    max-height: 250px;
    height: 100%;
    box-shadow: 5px 5px 0px #47037C;
    overflow: hidden;
    
}
.episode-header {
    padding: 1em;
}
.episode-content {
    position: relative;
    width: 100%;
    height: fit-content;
   
}

.episode-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.episode-content-min {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: .25em;
    background-color: white;
    opacity: .5;
    font-weight: bold;
}
.episode-content-play {
    position: absolute;
    bottom: 0;
    top: 25%;
    right: 0;
    left: 38.75%;
    height: 70px;
    font-size: 20px;
    opacity: .7;
}
.episode-content-play > svg {
    height: 60px;
}

