.cardBasic {
  color: #1a0750;
  min-height: 300px;
  max-width: 256px;
  width: 100%;
  text-align: left;
  border-radius: 0.5em;
  box-sizing: border-box;
  overflow: hidden;
  height: 100%;
  cursor: grab;
}

.carBasic-img-container {
  border-radius: 0.5em;
  height: 70%;
  pointer-events: none;
}
.carBasic-img-container .anime-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.cardBasic-about {
  height: 80px;
  background-color: white;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cardBasic-about .title {
  font-weight: bold;
}

.tags-container {
  display: flex;
  align-items: flex-end;
  
}
.pp {
  text-align: center;
}