@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,400;1,700&display=swap');
.cardInformative {
    background-color: #47037C;
    min-width: 380px;
    max-height: 246px;
    display: flex;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
   
}
.cardInformative > div {
    width: 50%;
    height: 100%;
}

.cardInformative-first {
    color: #1A0750;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    height: 246px;
    width: 60%;
}
.cardInformative a {
    color: #1A0750;
}

.cardInformative-first .about {
    background-color: white;
    padding: 1em;
    height: fit-content;
   
}


.cardInformative-image-container {
    overflow: hidden;
    width: 100%;
    height: auto;
    background-color: red;
}

.cardInformative-image-container .anime-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cardInformative-second {
    color: white;
    padding: 1em;
    text-align: left;
    font-weight: 500;
    max-height: 220px;
    width: 40%;

}
.cardInformative-second > * {
    margin-bottom: 1em;
}

.description {
    opacity: .9;
    width: 100%;
    /* height: 65px; */
    line-height: 1.5;
    /* overflow: hidden;
    text-overflow: ellipsis; */
   
}
.date {
    font-size: 14px;
}
.read-more {
    color: rgba(255, 255, 255, 0.685) !important;
 
}

.tags{
    margin-top: 20px;
}