/* Carrusel */

.center {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carusel_cont {
  margin: 60px;
  max-width: 1200px;
  width: 800px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img_carusel_cont {
  width: 1200px;
  height: 200px;
  background-color: #fff;
  border: solid 2px #c374ff;
  border-radius: 25px;
  box-shadow: 0px 10px 10px #00000030;
  overflow: hidden;
}

.fade {
  animation: fade 0.5s ease-in;
}

@keyframes fade {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}

.btn {
  width: 50px;
  height: 50px;
  color: #fff;
  background-color: transparent;
  border: none;
  font-size: 50px;
  cursor: pointer;
  margin: 20px;
}
.btn:hover {
  color: #c374ff;
}
