.containerc {
  margin-top: 15px;
  background-size: contain;
  width: 100%;
  /* height: 240vh; */
  background-color: white;
}
.Nav {
  margin-top: 90px;
  display: flex;
  position: relative;
  width: 375vw;
  top: 0px;
  background-color: #47037c;
  margin-bottom: 10px;
  margin-right: 0px;
}
.search {
  margin-top: 80px;
  display: flex;
  position: relative;
}
.card-container {
  padding: auto;
  width: 95%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}
.recipe-card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 33%;
  align-items: center;
}
.container-card {
  margin-bottom: 15px;

  background-color: #ae7cf3;
  cursor: pointer;

  width: 60%;
  display: flex;
  justify-content: center;
  box-shadow: 8px 8px #47037c;
}

.container {
  overflow: hidden;
}
