/* Navbar */

.nav {
  background: #ffffff;
  text-decoration: none;
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
}

.elements {
  gap: 800px;
  display: flex;
  align-items: center;
}

.logo {
  height: 70px;
  margin-left: 10px;
  display: flex;
}

.linea {
  background: #47037c;
  height: 10px;
  width: 100%;
  display: block;
  border-bottom-left-radius: 20px;
}

.explore {
  margin-top: 25px;
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight: bold;
}

.down {
  margin-top: 29px;
}

.elem {
  display: flex;
}

.routes {
  display: flex;
}

.routes Link {
  text-decoration: none;
}

.sus {
  text-decoration: none;
  margin-right: 30px;
}

.user {
  text-decoration: none;
}

.routes button {
  margin-left: 8px;
  padding: 0.7em 1.7em;
  font-size: 13px;
  border-radius: 0.5em;
  background: #ffcb1d;
  border: 2px solid black;
  transition: all 0.3s;
}



