/* Navbar */

.nav {
  background: #ffffff;
  text-decoration: none;
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
  box-shadow: 0px 3px 6px #47037c;
}

.elements {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 70px;
  margin-left: 10px;
  display: flex;
}

.linea {
  background-color: #47037c;
  height: 10px;
  width: 100%;
  display: block;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}



.elem {
  display: flex;
}

.routes {
  display: flex;
  align-items: center;
}

.routes Link {
  text-decoration: none;
}

.sus {
  text-decoration: none;
  margin-right: 30px;
}

.premium {
  color: #ffcb1d;
  background: radial-gradient(
    circle,
    rgba(137, 112, 233, 1) 27%,
    rgba(75, 49, 235, 1) 100%
  );
  padding: 1em;
  font-size: 16px;
  border: 0;
  border-radius: 6px;
  display: flex;
  align-items: center;
}
.freeTrial{
  font-size: 12px;
  color: #cecee6;
}
.vip {
  margin-left: 10px;
  margin-right: 2px;
  background-color: #ffcb1d;
  color: #8970e9;
  padding: 2px 2px;
  border-radius: 2px;
  font-weight: bold;
  font-size: 14px;
}

.log {
  color: white;
  background-color: #1a056d;
  font-size: 16px;
  padding: 1em;
  height: 64px;
  border: 0;
  margin-right: 10px;
  border-radius: 6px;
  display: flex;
  align-items: center;
}

.iconDown{
  margin-left: 10px;
}

.iconUser{
  background-color: white;
  padding: 4px 4px;
  color: #1a056d;
  border-radius: 20px;
}


/* dropdown menu */

.explore {
  width: 100%;
  max-width: 7em;
  padding: 1em;
  font-weight: bold;
  background-color: transparent;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  row-gap: .1em;
}



.h4-dropdown{
  background-color: transparent;
  padding: .5em;
}

.button-dropdown{
  background-color: transparent;
  border: 0;
  padding: .5em;
  display: flex;
  cursor: pointer;
}

.nav-dropdown{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 0px;
  opacity: 0;
  overflow: hidden;
  width: 6.5em;
  border-radius: 6px;
  transition: all ease .5s;
}

.nav-dropdown.isActive{
  height: 180px;
  opacity: 1;
  margin-top: 15em;
  background-color: white;
}

.ul-dropdown{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.li-dropdown{
  list-style: none;
  margin: .5em .5em;
  cursor: pointer;
  position: relative;
}

.li-dropdown:after{
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 8px;
  left: -1px;
  transform: scaleX(0);
  box-shadow:
    0 10px 0 #47037c;
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}

.li-dropdown:hover:after{
  transform: scaleX(1);
  transform-origin: bottom left;
}

.a-dropdown{
  text-decoration: none;
  color: black;
}

.down {
  width: 1.2em;
  height: 1.2em;
}