.container {
    display: flex;
    width: 100%;
    overflow: hidden;
    justify-content: space-around;

}

.card__list {
    width: 600px;

}

.list__numbers {
    padding: 0.2em;
    display: inline-flex;

}

.btnfocus {
    background-color: yellow;
}

.list__button {
    border: none;
    font-size: 20px;
    font-weight: 400;
    border-radius: 0.1em 0.1em 0.1em 0.1em;
    box-shadow: 0 0 6px rgba(0,0,0,.5);
}

.list__button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 4px blue;
}