.search-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}
.input-icons {
  margin-top: 0px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.input-field {
  padding: 10px;
  text-align: center;
}

.input-search {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  border-radius: 6px;
  width: 15vw;
  text-align: left;
  padding: 8px;
  border: none;
  font-size: 18px;
}

input[type="text"]::placeholder {
  color: #47037c;
  font-weight: bold;
}

/* input[type="text"]:focus {
  border: 2px solid #47037c;
} */

.input-icons i {
  position: relative;
}

.icon {
  padding: 0px;
  color: #47037c;
  top: 10px;
  background-color: white;
  left: 2px;
  padding: 0px 10px 0px 15px;
  cursor: pointer;
}
button {
  background-color: #1a0750;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  height: 34px;
}

.search-icon {
  width: 25px;
}
