.tag {
    margin-top: .25em;
    min-width: 60px;
    padding: .1em .5em;
    background-color: aquamarine;
    width: fit-content;
    color: #1A0750;
    font-weight: bold;
    border-radius: .5em;
    display: inline-flex;
    margin-right: .5em;
    text-align: center;
}
.tag > * {
    margin: auto;
}