.tag {
    margin-top: 1em;
    min-width: 60px;
    padding: .1em .5em;
    background-color: aquamarine;
    width: fit-content;
    color: #1A0750;
    font-weight: bold;
    border-radius: .5em;
    display: inline-flex;
    margin-left: .5em;
}