.animeDetail {
    text-align: left;
    min-height: 100vh;
    color: var(--main-color-font-dark);
  
}
/*HEADER*/
/*cOVER*/
.animeDetail-header{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-size: cover;
    background-repeat: no-repeat;
}
.animeDetail-header .cover {
    max-width: 350px;
    max-height: 800px;
    width: 100%;
    height: 100%;
    background-color: var(--secondary-color-content-3);
}
.cover-img-container {
    height: 60%;
    width: 100%;
}
.poster-img {
    width: 100%;
    height: 100%;
    object-fit:cover;
    object-position: top;
}

.cover-info-container {
    /* color: white; */
    color: var(--main-color-font-light);
    padding: 1em;
    
}
.cover-info-container-h2{
    color: var(--main-bg-color-light)
}


.doubleTag {
    margin-top: .5em;
    min-width: 70px;
    font-weight: bold;
    margin-left: .5em;
    display: inline-flex;
    padding: .25em;
    background-color: transparent;
    color: white;
    flex-direction: column;
}
.doubleTag > * {
    display: block
}
.doubleTag .first {
    opacity: .6;
}
.lists {
    display: flex;
    flex-direction: column;
    gap: .5em;
    padding-top: .5em;
}
.lists-span{
    background-color: #a77ddd6c;
    padding: .5em;
    transition: all ease 0.3s;
    cursor: pointer;
    display: flex;
    align-items: center;
    column-gap: .5em;
}
.lists-span:hover{
    background-color: #b593e06c;
}
/*ABOUT*/
.animeDetail-header .about {
    max-width: 620px;
    max-height: 550px;
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
}
.animeDetail-header .about > div {
    margin: auto;
}

/*CONTENT*/
.animeDetail-content-info {
    background-color: #1A0750;
    padding: 3em;
    line-height: 2;
    color: white;
    font-weight: 400;
}

.animeDetail-content-info .favorite-count {
    padding: .25;
    margin-top: 1em;
    display: flex;
    align-items: center;
    width: fit-content;
    background-color: #A77DDD;
    font-weight: bold;
}
.btn-favorite {
  
    background-color: white;
    margin-left: .5em;
    width: fit-content;
    color: #1A0750;
    border: none;
    padding: .5em;
}

/*EPISODES*/

.episodes {
    box-sizing: border-box;
    color: #1A0750;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 2em;
    padding: 3em;
    padding-top:0 ;
    width: 100%;
}

.episode {
    box-sizing: border-box;
    width: 100%;
    max-height: 250px;
    height: 100%;
    /* box-shadow: 5px 5px 0px #47037C; */
    box-shadow: 0 0 6px var(--main-color-font-dark);
    overflow: hidden;
    display: flex;
    flex-direction: column-reverse;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    transition: all ease-in-out .2s;
}
.episode:hover {
    transform: scale(1.02);
}
.episode-header {
    padding: 1em;
    display: flex;
    flex-direction: column;
    height: 100%;
    color: var(--main-color-font-dark);
}
.episode-content {
    position: relative;
    width: 100%;
    height: fit-content;
   
}

.episode-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
   
}

.episode-content-min {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: .25em;
    background-color: white;
    opacity: .5;
    font-weight: bold;
}
.episode-content-play {
    position: absolute;
    bottom: 0;
    top: 25%;
    right: 0;
    left: 38.75%;
    height: 70px;
    font-size: 20px;
    opacity: .7;
}
.episode-content-play > svg {
    height: 60px;
}

body.active-modal {
    overflow-y: hidden;
  }
  
.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}
  
.overlay {
    background: rgba(49, 49, 49, 0.89);
}
.modal-content {
    z-index: 4;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 1em;
    width: 500px;
    height: 420px;
}

.title-modal{
    color: var(--main-color-font-dark);
}



.form-button-submit{
    width: 8em;
    border: 2px solid transparent;
    color: var(--main-bg-color-light);
    background-color: var(--secondary-color-content-3);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.356);
    padding: .5em;
    font-size: 16px;
    font-weight: 800;
    cursor: pointer;
    transition: all ease 0.3s;
}
.form-button-submit:hover{
    background-color: #48037cbe;
    transform: scale(1.05);
}

.button-create-list-modal{
    border: 2px solid var(--secondary-color-content-3);
    color: var(--secondary-color-content-3);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.356);
    background-color: transparent;
    padding: .5em;
    font-size: 16px;
    font-weight: 800;
    cursor: pointer;
    display: flex;
    align-items: center;
    column-gap: .5em;
    transition: all ease 0.3s;
}

.div_lisComponent_overflow{
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    row-gap: 2em;
    padding: 1em .5em 1em .5em;
}
.lisComponent_style{
    cursor: pointer;
}