.log {
  color: white;
  background-color: #ffc989;
  font-size: 16px;
  padding: 6px;
  height: 44px;
  border: 0;
  margin-right: 10px;
  margin-top: 2px;
  display: flex;
  align-items: center;
}

.type{
  color: #1a0750;
}

.iconDown{
  margin-right: 10px;
  margin-left: 15px;
}

.iconUser{
  background-color: white;
  padding: 4px 4px;
  color: #1a0750;
  border-radius: 20px;
}

.medal{
  margin-left: 10px;
  color: #1a056d;
}



/* dropdown menu */

.explore {
  width: 100%;
  max-width: 7em;
  padding: 10px;
  font-weight: bold;
  background-color: transparent;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  row-gap: .1em;
  color: black;
}



.h4-dropdown{
  background-color: transparent;
  padding: .5em;
}

.button-dropdown{
  background-color: transparent;
  color: black;
  border: 0;
  display: flex;
  cursor: pointer;
  font-size: 17px;
}

.nav-dropdown{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 0px;
  opacity: 0;
  overflow: hidden;
  width: 6.5em;
  border-radius: 6px;
  transition: all ease .5s;
}

.nav-dropdown.isActive{
  min-width: 130px;
  height: 120px;
  opacity: 1;
  margin-top: 1em;
  background-color: white;
}

.ul-dropdown{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.li-dropdown{
  list-style: none;
  margin: .5em 0em;
  cursor: pointer;
  position: relative;
  color: black;
}

.li-dropdown:after{
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 8px;
  left: -1px;
  transform: scaleX(0);
  box-shadow:
    0 10px 0 #47037c;
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}

.li-dropdown:hover:after{
  transform: scaleX(1);
  transform-origin: bottom left;
}

.a-dropdown{
  text-decoration: none;
  color: black;
}

.down {
  width: 1.2em;
  height: 1.2em;
}