.footer {
    font-weight: 400 !important;
    margin-top: 8em;
    height: 270px;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    background-color: var(--main-color-font-dark);
    color: rgba(255, 255, 255, 0.59);
    justify-self: flex-end;
}

.footer svg {
    height: 20px;
    fill: var(--main-color-font-dark);
}

.icon{
    margin-right: 8px;
}


/* .footer::before {
   
    content: "";
    position: absolute;
    background-color: red;
    background: url('../img/2102.i518.009_sky_cloud_evening_illustration.jpg'),linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(80,7,16,1) 100%);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
} */
.footer > div {
    flex: 1;
}
.footer-brand {
    max-height: 82px;
    width: 229px;
    margin: auto;
    justify-self: start;
}
.footer-brand h1 {
    padding: 1em;
    color: white;
}
.footer-info {
    width: 100%;
    height: 100%;
    display: flex;
}
/* .footer-info .title {
    text-shadow: 2px 2px #A77DDD;
} */
.footer-info .explore {
    border-right: 1px solid var(--main-color-font-dark);
}
.footer-info > div {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;

}
.footer-info > div .options {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer-info .options .option {
    font-weight: 400;
}
.footer-contact {
    /* justify-self: end; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: transparent;
    height: 33%;
}
.footer-profile {
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding: .5em;
    background-color: white;
    box-shadow: 6px 6px 2px #A77DDD;
    transition: all ease-in-out 0.3s;
    background-color: rgb(236, 228, 228);
}
.footer-profile:hover {
    cursor: pointer;
    transform:scale(1.03)
}
.footer-profile .user {
    display: flex;
    align-items: center;
    font-weight: normal;
    gap: .25em;
}
.footer-profile .tag {
    font-size: 12px;
    color: #8C8CA7;
    /* color: var(--main-color-font-light); */
}
.brand-logo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.made-by {
    font-weight: bold;
}

.a-href {
    text-decoration: none;
    font-size: 12px;
}
.a-href .user{
    color: var(--main-color-font-dark);
}
.a-href .tag{
    color: #8C8CA7;
    /* color: var(--main-color-font-light); */
}

.span-links{
    cursor: pointer;
}